body{
    background-color: blanchedalmond;
}

.Video-heading{
    color: cadetblue;
    text-align: center;
    text-decoration: underline;
    font-size: 2.5rem;
    margin-top: 3rem;
}

.videos-div{
    margin-top: 5rem;
    text-align: center;
}

.videos-div-2{
    margin-top: 3rem;
    text-align: center;
}

footer{
    margin-top: 3rem;
    text-align: center;
}

.footer-paragraph{
    font-weight: bold;
}

a{
    color: red;
}